<div class="dashboard-container">
    <nav class="dashboard-nav">
      <h1>Admin Dashboard</h1>
      <button class="logout-button" (click)="logout()">Logout</button>
    </nav>
    
    <div class="content-wrapper">
      <div class="actions-bar">
        <button class="add-button" [routerLink]="['/add-product']">
          Add New Product
        </button>
        
      </div>
  
      <div class="products-grid">
        <div *ngFor="let product of products" class="product-card">
          <div class="product-image" *ngIf="product.image">
            <img *ngIf="product.image?.data" 
            [src]="'data:' + product.image.contentType + ';base64,' + product.image.data" 
            [alt]="product.name">
       
          </div>
          <div class="product-details">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p class="price">${{ product.price }}</p>
            <div class="product-actions">
              <button class="edit-button" [routerLink]="['/edit-product', product._id]">Edit</button>

              <button class="delete-button" (click)="onDeleteProduct(product._id ?? '')">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
